@media only screen and (max-width: 460px) and (orientation: portrait) {

  .footer-container {
    height: 13vh;
  }

  .name {
    font-size: 2em;
    line-height: 1;
  }

  .icon {
    width: 4vh;
    height: 4vh;
  }

  .copyright {
    font-size: 0.8em;
  }

}

@media only screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape) {

  .footer-container {
    height: 13vw;
  }

  .name {
    font-size: 4vw;
    line-height: 1;
  }

  .icon {
    width: 4vw;
    height: 4vw;
  }

  .copyright {
    font-size: 1.8vw;
  }
}
