<div class="footer-container">
  <div class="left-side">
    <p class="name">Aki Sirkiä.</p>
    <div class="social-media">
      <a href="https://github.com/lekatehdas" target="_blank">
        <img class="icon" src="assets/icons/github.svg" alt="Github" />
      </a>
      <a href="https://www.linkedin.com/in/aki-sirki%C3%A4-5397a8272/" target="_blank">
        <img class="icon" src="assets/icons/linkedin.svg" alt="LinkedIn" />
      </a>
    </div>
  </div>
  <div class="right-side">
    <div class="copyright">
      <p>&copy; 2023 Aki Sirkiä</p>
      <p class="icon-credit">Icons provided by <a href="https://icons8.com/" target="_blank"><img class="icon" src="assets/icons/icons8.svg" alt="Icons8" /> Icons8</a></p>
    </div>
  </div>
</div>
