@media only screen and (max-width: 460px) {

  .about-container {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-left: 8vh;
  }

  .profile-picture-container {
    width: 30vh;
    height: 30vh;
    animation: fadeInFromLeft 2s;
  }

  .profile-picture {
    object-fit: contain;
    border-radius: 1em;
  }

  .about-text {
    position: relative;
    margin: 0;
    top: -5%;
    max-width: none;
  }

  .about-text h2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    left: 0;
    margin-right: 1em;
    font-size: 1.5em;
  }

  .about-text h3 {
    margin-left: 0;
    text-shadow: none;
    font-size: 1.2em;
  }

  .about-text p {
    font-size: 0.9em;
    text-shadow: none;
    max-width: 80%;
    margin: 0;
  }
}

@media only screen and (min-width: 460px) and (max-width: 600px) {

  .about-container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  .profile-picture-container {
    width: 35vh;
    height: 35vh;
    animation: fadeInFromLeft 2s;
  }

  .profile-picture {
    object-fit: contain;
    border-radius: 1em;
  }

  .about-text {
    position: relative;
    margin: 0;
    top: -5%;
  }

  .about-text h2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    right: 10%;
    margin-right: 1em;
    font-size: 1.5em;
  }

  .about-text h3 {
    font-size: 1em;
  }

  .about-text p {
    font-size: 0.7em;
    max-width: 23vh;
  }

}
