@media only screen and (min-width: 420px) and (orientation: portrait) {

  .page-min-height {
    min-height: 75vh;
  }

  .profile-picture-container {
    height: 40vh;
    width: 40vh;
  }

  .about-text h2 {
    font-size: 4vh;
  }

  .about-text h3 {
    font-size: 2.5vh;
  }

  .about-text p {
    font-size: 1vh;
  }

}
