.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card .card-content .card-icon {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
}

.card .card-text {
  text-align: left;
}

.card h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.card p {
  margin-bottom: 0.5em;
}

.card span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 1080px) {

  .card {
    padding: 1vh 3vw;
    margin-bottom: 1vh;
    border-radius: 1vh;
    width: 20vw;
    height: 15vh;
  }

  .card .card-content .card-icon {
    width: 5vh;
    height: 5vh;
  }

}
