@media only screen and (max-width: 460px) {

  .navbar a {
    font-size: 0.6em;
    justify-content: flex-start;
  }

  .name {
    padding: 0;
    margin: 0;
    display: none;
  }

  .spacer {
    display: none;
  }

}
