<mat-toolbar color="primary" class="navbar">
  <span class="name">Aki Sirkiä</span>
  <span class="spacer"></span>
  <a
    mat-button
    href="#about"
    (click)="scrollToElement($event, 'about')"
    [class.active]="activeLink === 'about'"
  >
    About
  </a>
  <a
    mat-button
    href="#skills"
    (click)="scrollToElement($event, 'skills')"
    [class.active]="activeLink === 'skills'"
  >
    Skills
  </a>
  <a
    mat-button
    href="#projects"
    (click)="scrollToElement($event, 'projects')"
    [class.active]="activeLink === 'projects'"
  >
    Projects
  </a>
  <a
    mat-button
    href="#resume"
    (click)="scrollToElement($event, 'resume')"
    [class.active]="activeLink === 'resume'"
  >
    Resume
  </a>
  <a
    mat-button
    href="#contact"
    (click)="scrollToElement($event, 'contact')"
    [class.active]="activeLink === 'contact'"
  >
    Contact
  </a>

</mat-toolbar>
