.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: var(--foreground-color);
  position: fixed;
  top: 0;
  z-index: 1000;
  font-size: 2vw;
}

.navbar > a {
  font-size: 1vw;
}

.name {
  margin-left: 2vw;
  font-weight: bold;
  font-size: 1.5vw;
  color: var(--text-color);
}

.spacer {
  flex: 1;
}

button {
  color: var(--contrast-color);
}

button:hover {
  color: var(--text-color);
}

.active {
  font-weight: bold;
  font-size: 1.5vw;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--contrast-color);
}
