@media only screen and (max-width: 460px) and (orientation: portrait) {

  .navbar a {
    font-size: 2vh;
    justify-content: flex-start;
  }

  .name {
    padding: 0;
    margin: 0;
    display: none;
  }

  .spacer {
    display: none;
  }

}

@media only screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape) {

  .navbar a {
    font-size: 2vw;
  }

}
