.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 75vw;
  height: 50vw;
  background-color: var(--foreground-color);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(98, 84, 61, 0.3);
  transition: transform 1s ease-in-out;
  cursor: pointer;
}

.project-image {
  width: 100%;
  height: 85%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project-details {
  text-align: left;
  padding: 1vw;
}

.project-details h3 {
  margin-bottom: 1vw;
  font-weight: bold;
  font-size: 2vw;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project-details p {
  font-size: 1vw;
}

@media only screen and (min-width: 1500px) {

  .project-card {
    width: 75vw;
    height: 75vh;
  }

  .project-details {
    text-align: left;
    padding: 1vh;
  }

  .project-details h3 {
    margin-bottom: 1vh;
    font-weight: bold;
    font-size: 3vh;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .project-details p {
    font-size: 1.5vh;
  }

}
