@media only screen and (min-width: 360px) and (max-width: 460px) {

  .project-card {
    width: 100%;
    height: 75vh;
  }

  .project-details h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1em;
    transition: none;
  }

  .project-details p {
    font-size: 0.7em;
    margin-bottom: 1vh;
  }

}

@media only screen and (min-width: 460px) and (max-width: 1080px){

  .project-card {
    width: 75vw;
    height: 70vh;
  }

  .project-details h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1em;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

}
