<div class="container component-max-width">
  <div class="profile-picture-container" [@fadeInFromLeft]>
    <img src="assets/me.jpeg" alt="Your Name" class="profile-picture" height="900" width="900">
  </div>
  <div class="about-text">
    <h2 [@fadeInFromRight]>I'm Aki Sirkiä.</h2>
    <h3 [@fadeInFromRight]>A Computer Science Student<br>in Kristianstad, Sweden.</h3>
    <div [@fadeInFromRightDelayed]>
      <p>
      I'm thrilled to introduce myself as a upcoming Computer Science graduate with a strong passion for programming. I've worked hard to develop a solid foundation in programming concepts and technologies.
      </p>
    </div>
  </div>
</div>
