.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.text-container {
  left: 77%;
  top: 16%;
  position: absolute;
  text-align: center;
  z-index: 2;
  background: linear-gradient(90deg, rgba(51, 51, 51, 0.1), rgba(98, 84, 61, 0.1), rgba(51, 51, 51, 0.1));
  border-radius: 1em;
}

h2 {
  font-size: 5em;
  font-weight: bold;
  padding-bottom: 0.3em;
}

p {
  font-size: 1em;
}

.arrow-button {
  position: absolute;
  font-size: 3em;
  cursor: pointer;
  background: rgba(98, 84, 61, 0.3);
  border: none;
  border-radius: 1em;
  color: #919191;
  top: 60%;
  transform: translateY(-50%);
  z-index: 0;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.project-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 10em;
  z-index: 1;
}

@media (max-width: 48em) {
  h2, p {
    font-size: 1.5em;
  }

  .arrow-button {
    font-size: 1.5em;
  }
}
