.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text-container {
  left: 77%;
  top: 15%;
  position: absolute;
  text-align: center;
  z-index: 2;
  background: linear-gradient(90deg, rgba(51, 51, 51, 0.1), rgba(98, 84, 61, 0.1), rgba(51, 51, 51, 0.1));
  border-radius: 1em;
}

h2 {
  font-size: 5em;
  font-weight: bold;
  padding-bottom: 0.3em;
}

p {
  font-size: 1em;
}

.arrow-button {
  position: absolute;
  font-size: 3em;
  cursor: pointer;
  background: rgba(98, 84, 61, 0);
  border: none;
  border-radius: 1em;
  color: #919191;
  filter: invert(61%) sepia(83%) saturate(544%) hue-rotate(351deg) brightness(102%) contrast(96%);
  top: 60%;
  transform: translateY(-50%);
  z-index: 2;
}

.left-arrow {
  left: -3%;
}

.right-arrow {
  right: -3%;
}

.project-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 10em;
  z-index: 1;
}

@media (max-width: 48em) {
  h2, p {
    font-size: 1.5em;
  }

  .arrow-button {
    font-size: 1.5em;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.4s ease-in-out;
}

