<div class="page-min-height contact-container component-max-width">

  <div class="movable-text">
    <h2>Contact</h2>
    <p class="adjustable-text">
      Lets work together!
      <br>
      If you have a project where you need a passionate programmer for, send me a message!
    </p>
  </div>

  <div class="component-max-width adjustable-height">



    <a href="assets/Aki_Sirkia_CV.pdf" download class="send-button">
      <img src="assets/icons/send.png" class="send-icon" alt="Send Icon">
      <span>Contact</span>
    </a>


  </div>

</div>
