@media only screen and (max-width: 460px) and (orientation: portrait) {

  .adjustable-height {
    background: var(--background-color);
    height: 100%;
    box-shadow: none;
  }

  .movable-text {
    position: relative;
    top: 5%;
  }

  .movable-text h2 {
    font-size: 4vh;
  }

  .movable-text p {
    font-size: 1.2vh;
  }

  .contact-form {
    padding-top: 1vh;
    width: 100%;
  }

  .form-label {
    font-size: 1.2vh;
  }

  .form-input {
    font-size: 1vh;
  }

  .form-textarea {
    height: 33vh;
    resize: none;
  }

  .form-button {
    background: var(--foreground-color);
    padding: 1vh 2vh;
    font-size: 2vh;
    left: 15%;
    width: 25vh;
    height: 4vh;
  }

  .send-icon {
    height: calc(100%);
  }

  .alert {
    margin: 0;
    font-size: 1.2vh;
  }

  .alert-placeholder {
    height: 1.2vh;
  }

}

@media only screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape) {

  .contact-container {
    padding-top: 10vw!important;
    padding-bottom: 15vw!important;
  }

  .adjustable-height {
    height: 61vw;
  }

  .movable-text h2 {
    font-size: 4vw;
    margin-bottom: 2vw;
    font-weight: bold;
    text-shadow: none;
  }

  .movable-text p {
    font-size: 1.8vw;
    text-align: left;
    max-width: 45vw;
    margin-bottom: 2vw;
  }

  .form-label {
    font-size: 1.5vw;
  }

  .form-input {
    font-size: 1.5vw;
  }

  .form-button {
    font-size: 1.5vw;
    padding: 1vw 2vw;
    width: 25vw;
    height: 5vw;
    left: 30%;
  }

  .alert {
    font-size: 1.8vw;
  }
}
