@media only screen and (max-width: 460px) {

  .adjustable-height {
    background: var(--background-color);
    height: 100%;
    box-shadow: none;
  }

  .movable-text {
    position: absolute;
    top: 0%;
  }

  .movable-text h2 {
    font-size: 2em;
  }

  .movable-text p {
    font-size: 0.7em;
  }

  .contact-form {
    padding-top: 1vh;
    width: 100%;
  }

  .form-label {
    font-size: 0.8em;
  }

  .form-textarea {
    height: 33vh;
    resize: none;
  }

  .form-button {
    background: var(--foreground-color);
    left: 15%;
    width: 25vh;
  }

}

@media only screen and (min-width: 460px) and (max-width: 600px) {

  .contact-container {
    padding-top: 10vh;
  }

  .adjustable-height {
    background: var(--background-color);
    height: 95vh;
  }

  .movable-text {
    top: 7%;
    position: absolute;
    z-index: 1;
  }

  .movable-text h2 {
    font-size: 4em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-shadow: 0 0 2px white;
  }

  .movable-text p {
    text-align: center;
    max-width: 20vh;
    margin-bottom: 1vh;
  }

  .contact-form {
    width: 75%;
  }

  .form-button {
    left: 18%;
    background: var(--contrast-color);
    color: var(--background-color);
  }

  .send-icon {
    filter: initial;
  }
}
