.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 75em;
}

.component-max-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75em;
  height: 100%;
}


.adjustable-height {
  height: 50em;
  background: var(--foreground-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 1em;
  position: relative;
}

.movable-text {
  position: absolute;
  z-index: 1;
  top: 13%;
}

.movable-text h2 {
  font-size: 5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-shadow: 0 0 2px white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.form-label {
  color: var(--contrast-color);
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.form-input {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--background-color);
}


.form-textarea {
  height: 15em;
  resize: none;
}

.form-button {
  padding: 1em 2em;
  background: var(--background-color);
  color: var(--contrast-color);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
  transition: 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 15em;
  height: 5em;
  margin-top: 2em;
  position: relative;
  left: 25%;
}

.form-button span {
  order: 1; /* The text should come first */
}

.form-button:hover {
  background: var(--contrast-color);
  color: var(--background-color);
}

.send-icon {
  height: calc(100% - 1em);
  width: auto;
  order: 2;
  filter: invert(61%) sepia(83%) saturate(544%) hue-rotate(351deg) brightness(102%) contrast(96%);
  transition: 1s;
}

.form-button:hover .send-icon {
  filter: none;
}

.alert {
  color: red;
  margin-top: 5px;
}
