<div class="page-min-height skills-container component-max-width">
  <div class="movable-title">
    <h2>Skills</h2>
  </div>

  <div class="component-max-width adjustable-height" #scrollableElement>

    <div class="top-div">
      <p class="centered-text">{{ skillsPre }}</p>
    </div>


    <div class="bottom-div">

      <div class="left-div">
        <p class="vertical-text">{{ skills[currentSkill].title }}</p>
      </div>

      <div class="middle-div" [ngClass]="{'blurred': isBlurred}">
        <ng-container *ngFor="let skill of skills[currentSkill].items; let i = index;">
          <app-skill-card
            [ngClass]="{'top-row': i<4, 'bottom-row': i>=4}"
            [name]="skill.name"
            [icon]="skill.icon">
          </app-skill-card>
        </ng-container>
      </div>

      <div class="right-div">
        <div class="spacer"></div> <!-- New spacer div -->
        <div class="dash-container"> <!-- New dash container div -->
          <div *ngFor="let skill of skills; let i = index"
               [ngClass]="{'highlight': i === currentSkill, 'dash': true}"> | 
          </div>
        </div>
        <div class="spacer"></div> <!-- New spacer div -->
      </div>


    </div>

  </div>

</div>
