<div class="background-skill page-min-height" [@fadeIn]>
  <div class="container component-max-width">
    <div class="skills-texts" animate-me>
      <h2>Skills</h2>
      <p>
        My skills include proficiency in multiple programming languages, as well as experience in web development,
        databases, big data and machine learning technologies, software engineering, testing, and version control. I'm
        eager to apply these skills to real-world applications and tackle the challenges that come with them. I'm
        particularly interested in computer security and testing.
      </p>
    </div>
    <div class="skills">
      <div *ngFor="let skill of skills; index as i" class="skill">
        <div class="skill-container" [@blurIn]="isVisible ? 'focus' : 'blur'">
          <h2>{{skill.title}}</h2>
          <ul>
            <li *ngFor="let item of skill.items">{{item}}</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
