@media only screen and (max-width: 1080px) and (orientation: landscape) {

  .adjustable-height {
    height: 70vh;
  }

  .component-max-width {
    width: 80vw;
  }

  .movable-title {
    position: absolute;
    top: 11%;
    left: 3%;
  }

  .centered-text {
    top: 20%;
    left: 26%;
  }

  .left-div {
    flex-basis: 7vw;
  }

}
