.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.component-max-width {
  width: 75em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.adjustable-height {
  height: 50em;
  background: var(--forground_color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 1em;
}

.top-div {
  flex-basis: 20%;
  overflow: auto;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin: 0 3em;
  position: absolute;
  top: 19%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.bottom-div {
  flex-basis: 80%;
  display: flex;
}

.bottom-div > div {
  height: 100%;
}

.left-div {
  flex-basis: 3em;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 1.5em;
}

.middle-div {
  flex-grow: 1;
  flex-shrink: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1;
}

.bottom-row {
  display: flex;
  align-items: start;
  justify-content: center;
  grid-row: 2;
}



.right-div {
  flex-basis: 3em;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1em;
}

.spacer {
  flex-grow: 1;
}

.dash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 100%;
}

.dash {
  font-size: 2em;
  font-weight: bold;
  color: var(--background_color);
  line-height: 2;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.highlight {
  color: var(--contrast);
}

.movable-title {
  position: absolute;
  top: 13%;
  left: 10%;
}

.movable-title h2 {
  font-size: 5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-shadow: 0 0 2px white;
}
