@media only screen and (min-width: 420px) and (orientation: portrait) {

  .adjustable-height {
    height: 75vh;
  }

  .component-max-width {
    width: 80vw;
  }

  .movable-title {
    position: absolute;
    top: 11%;
    left: 3%;
  }

  .centered-text {
    top: 20%;
    left: 26%;
  }

  .left-div {
    flex-basis: 7vw;
  }

  .right-div {
    flex-basis: 7vw;
  }

  .top-div h2 {
    font-size: 4vh;
  }

  .top-div p {
    font-size: 1.2vh;
  }

  .vertical-text {
    font-size: 1.5vh;
  }

  .middle-div {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    margin: 0 3vw;
  }

  .bottom-div > div {
    height: 95%;
  }

}
