.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.component-max-width {
  width: 75vw;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.adjustable-height {
  height: 45vw;
  background: var(--foreground-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 1vw;
}

.top-div {
  flex-basis: 20%;
  overflow: visible;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.top-div h2 {
  position: relative;
  font-size: 4vw;
  margin-bottom: 0.5vw;
  font-weight: bold;
  text-shadow: 0 0 2px white;
  right: 42%;
  top: -2%;
}

.top-div p {
  position: relative;
  font-size: 1vw;
  max-width: 20vw;
  margin-bottom: 0.5vw;
  text-shadow: 0 0 2px white;
  top: 4%;
}

.bottom-div {
  flex-basis: 80%;
  display: flex;
}

.bottom-div > div {
  height: 100%;
}

.left-div {
  flex-basis: 3vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 1.5vw;
  text-align: center;
}

.middle-div {
  flex-grow: 1;
  flex-shrink: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.right-div {
  flex-basis: 3vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.dash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 100%;
}

.dash {
  font-size: 2em;
  font-weight: bold;
  color: var(--background-color);
  line-height: 2;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.highlight {
  color: var(--contrast-color);
}
