.background-skill {
  background: linear-gradient(to bottom, #333 0%, rgba(73, 62, 45, 0.82) 50%, #333 100%);
  background-size: cover;
}

.container {
  padding: 0 0 15em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skills-texts {
  text-align: left;
  max-width: 50em;
}

.skills-texts h2 {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2em;
}

.skill {
  width: 20em;
  padding: 1.5em;
  border-radius: 1.25em;
}

.skill-container h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: left;
}

.skill-container ul {
  list-style-type: none;
  padding: 0;
}

.skill-container li {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 48em) {
  .skills-texts h2 {
    font-size: 3em;
  }

  .skill {
    width: 15em;
  }

  .skill-container h2 {
    font-size: 1.2em;
  }

  .skill-container li {
    font-size: 1em;
  }
}
