@media only screen and (max-width: 460px) and (orientation: portrait){

  .resume-container {
    padding: 0;
  }

  .adjustable-height {
    min-height: 75vh;
    justify-content: initial;
    align-content: center;
  }

  .top h2 {
    font-size: 4vh;
    text-shadow: none;
  }

  .top p {
    font-size: 1.2vh;
    text-shadow: none;
    max-width: 20vw;
  }

  .middle {
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    padding-left: 1vh;
    padding-bottom: 1vh;
  }

  .download-button {
    background: var(--background-color);
    border-radius: 1vh;
    position: relative;
    left: 17vw;
    bottom: 1vh;
    width: 33vw;
    height: 5vh;
    line-height: 1vh;
    text-decoration: none;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
    margin-bottom: 0.2vh;
    font-size: 1.2vh;
  }

  .download-icon {
    height: calc(100% - 1vh);
  }
}

@media only screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape) {

  .adjustable-height {
    padding-top: 5vh;
    height: initial;
    min-height: 55vw;
  }

  .top {
    top: -4%;
    left: 1%;
  }

  .top h2 {
    font-size: 4vw;
    text-shadow: none;
  }

  .top p {
    font-size: 1.2vw;
  }

  .middle {
    padding-left: 2vw;
  }

}
