@media only screen and (max-width: 460px) {

  .resume-container {
    padding: 0;
  }

  .adjustable-height {
    height: 80vh;
  }

  .movable-text {
    top: 3%;
    left: 60%;
  }

  .movable-text h2 {
    font-size: 2em;
    text-shadow: none;
  }

    .movable-text p {
    font-size: 0.7em;
    text-shadow: none;
  }

  .work-experience-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    padding-left: 1vh;
  }

  .download-button {
    right: 29%;
    bottom: -0%;
    width: 33vw;
    height: 5vh;
    line-height: 1vh;
    text-decoration: none;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3vh;
    margin-bottom: 0.2vh;
    font-size: 0.7em;
  }

}

@media only screen and (min-width: 460px) and (max-width: 1080px) {

  .adjustable-height {
    height: 75vh;
  }

  .movable-text {
    top: 8%;
    left: 1%;
  }

  .movable-text h2 {
    font-size: 4em;
    text-shadow: none;
  }

  .work-experience-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding-left: 7vw;
    margin: auto;
  }

  .download-button {
    position: absolute;
    right: 34%;
    bottom: 2%;
    width: 25vw;
    height: 3vh;
    margin: 0;
    color: var(--contrast-color);
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }

  .download-button span {
    order: 1;
  }

  .download-button:hover {
    background: var(--contrast-color);
    color: var(--background-color);
  }

  .download-button:hover .download-icon {
    filter: none;
  }

  .download-icon {
    height: calc(100% - 1em);
    width: auto;
    order: 2;
    filter: invert(61%) sepia(83%) saturate(544%) hue-rotate(351deg) brightness(102%) contrast(96%);
    transition: 1s;
  }

}
