:root {
  --platinum: #e4e4e2;
  --forground_color: #332323FF;
  --background_color: #1e1414;
  --contrast: #FAA613;
  --skill-list-card: #332323;
}

@media only screen and (max-width: 600px) {
  .component-max-width {
    max-width: 100%;
    margin: 0 auto;
  }

  .page-min-height {
    min-height: 40vh;
  }
}

@media only screen and (min-width: 1020px) {
  .component-max-width {
    max-width: 80em;
    margin: 0 auto;
  }

  .page-min-height {
    min-height: 80vh;
  }
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding-top: 32px;
}

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

mat-toolbar {
  grid-row: 1;
}

router-outlet {
  grid-row: 2;
}

body {
  background-color: var(--background_color);
  color: var(--platinum);
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
}

app-about,
app-skills,
app-projects,
app-resume,
app-contact {
  scroll-snap-align: start;
}

html {
  scroll-behavior: smooth;
}
