/* Colors Exported Palette - https://coolors.co/b2b2b2-919191-323232-493e2d-e4e4e2 */
:root {
  --silver: #b2b2b2;
  --battleship-gray: #919191;
  --jet: #323232;
  --drab-dark-brown: #493e2d;
  --platinum: #e4e4e2;
  --background_color: #332323;
  --forground_color: #332323FF;
  --body_background_color: #1e1414;
}


html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding-top: 32px;
}

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

mat-toolbar {
  grid-row: 1;
}

router-outlet {
  grid-row: 2;
}

body {
  background-color: var(--body_background_color);
  color: #fff;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
}

app-about,
app-skills,
app-projects,
app-resume,
app-contact {
  scroll-snap-align: start;
}

html {
  scroll-behavior: smooth;
}

.component-max-width {
  max-width: 80em;
  margin: 0 auto;
}

.page-min-height {
  min-height: 80vh;
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-out {
  animation: fade-out 0.5s;
}

.fade-in {
  animation: fade-in 0.5s;
}
