:root {
  --text-color: #e4e4e2;
  --foreground-color: #332323FF;
  --background-color: #1e1414;
  --top-card-color: #644848FF;
  --contrast-color: #FAA613;
}

@media only screen and (max-width: 460px) {

  .component-max-width {
    max-width: 85vw;
    margin: 0 auto;
  }

  .page-min-height {
    min-height: 100vh;
  }

}

@media only screen and (min-width: 460px) and (max-width: 1080px) {

  .component-max-width {
    max-width: 95vw;
    margin: 0 auto;
  }

  .page-min-height {
    min-height: 95vh;
  }

}

@media only screen and (min-width: 1080px) {

  .page-min-height {
    min-height: 70vw;
    margin: 0 auto;
  }

  .component-max-width {
    max-width: 95vw;
  }

}


html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding-top: 32px;
  min-width: 360px;
}

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

mat-toolbar {
  grid-row: 1;
}

router-outlet {
  grid-row: 2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

app-about,
app-skills,
app-projects,
app-resume,
app-contact {
  scroll-snap-align: start;
}

html {
  scroll-behavior: smooth;
}


/*DEBUGGER*/
/** {*/
/*  border: 1px solid red !important;*/
/*}*/
